.container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.avatar {
  border-radius: 100%;
}

.texts {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.title {
  color: gray;
  font-weight: bold;
}

.username {
  font-weight: 500;
}
